.welcome-container {
  height: 100%;
  position: relative;
}

.welcome {
  transition: bottom 0.7s;
  background: url('https://fantank-api-dev.s3.amazonaws.com/app/splash.jpg');
  background-size: cover;
  height: calc(100vh);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.sticky-links {
  -webkit-transition: bottom 0.7s;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  margin: 0 0 13px 0;
}

.sticky-footer {
  -webkit-transition: bottom 0.7s;
  background-color: #916fa7;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 45px;
  height: 45px;
  width: 100%;
  font-size: 16px;
  position: absolute;
  bottom: -45px;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.1)
}

.welcome-container.ready {
  .welcome {
    bottom: 45px !important;
  }

  .sticky-links {
    bottom: 45px !important;
  }

  .sticky-footer {
    bottom: 0 !important;
  }

}

.about {
  padding-top: 240px;
  color: #FFFFFF;

  .ui .list {
    font-size: 16px;
  }
}

.how-it-works {
  padding-top: 240px;

  i {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.buzzmap {
  padding-top: 160px;
}

.dim {
  height: 100%;
  background-color: rgba(0,0,0, 0.3);
  padding-top: 160px;
}

.logo {
  filter: drop-shadow(0 1px 1px #333);
}

#modal-artist {
  background-image: url('./artist-services.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

#modal-scout {
  background-image: url('./scout-services.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

#modal-social {
  background-image: url('./social.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}
