#core-container {
  padding-top: 72px;
  background: lighten(#000000, 5%);
  height: 100%;
  overflow: scroll;
  color: #FFFFFF;

  .inverted.menu, .inverted.segment {
    background: lighten(#1B1C1D, 3%);
  }
  .inverted.header.secondary, .inverted.segment.secondary {
    background: lighten(#1B1C1D, 12%);
  }
  .inverted.segment.tertiary {
    background: lighten(#1B1C1D, 18%);
  }
}
